{% load static %}
<html>
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" href="{% static 'admins.css' %}">
        <link rel="stylesheet" href="admins.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="nav-bar">
                <div class="menu">
                    <a href="http://hedgeoffice.ru/">Home</a>
                    <a id="manu-active" href="http://hedgeoffice.ru/register">For admins</a>
                    <a href="http://hedgeoffice.ru/register">Contacts</a>
                </div>
            </div>
            <div class="content">
                <h1>Регистрация нового пользователя</h1>
                <div class="new-user">
                    <div class="input-data">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <p>
                                <label for="id_username">Username:</label>
                                <input type="text" name="username" maxlength="20" autofocus required id="id_username"> 
                            </p>
                            <button id="apply" type="submit">Register</button>
                        </form>
                    </div>
                    <button id="apply">Apply!</button>
                </div>
            </div>
        </div>
    </body>
</html>