<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="beta" package="com.companyname.smartoffice" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="33" />
	<application android:label="Smart Office BETA" android:usesCleartextTraffic="true" android:theme="@style/MainTheme" android:icon="@drawable/icon_about"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>